<div class="modal fade show d-block" tabindex="-1">

  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">{{ titulo }}</h5>

        <button
          type="button"
          class="btn-close"
          (click)="cerrar()">
        </button>

      </div>

      <div class="modal-body">
        <p>{{ mensaje }}</p>
      </div>

      <div class="modal-footer">

        <button
          class="btn btn-secondary"
          (click)="cerrar()">
          Cancelar
        </button>

        <button
          class="btn btn-danger"
          (click)="confirmarAccion()">
          Confirmar
        </button>

      </div>

    </div>
  </div>

</div>

<div class="modal-backdrop fade show"></div>